<section class="create-contract-wrapper">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Фильтр для задачи</mat-card-title>
    </mat-card-header>

    <div class="content"></div>

    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</section>

<router-outlet></router-outlet>
