@import "~src/framework";

.create-contract-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorBg1;

  .content {
    min-height: 400px;
  }
}
